<%- include('partials/header'); -%>
<div class="container">
  <h1 class="container">Home</h1>
  <p><%=homeContent%></p>
</div>

<% posts.forEach((post) =>{%>
<div class="container">
  <h2 class="container"><%=post.title%> </h2>
  <p><%=post.post.substr(0,99)%> ... <a href="/posts/<%=post._id%>">Read More</a></p>
</div>
<%}); %>


<%- include('partials/footer'); -%>
